# slapd configuration for SSO's user management DB, ftmg

moduleload      back_mdb
database   mdb
directory  "/var/lib/ldap-ftmg"
suffix     "dc=ftmg,dc=sso,dc=debian,dc=org"

# rootdn     "cn=root,dc=ftmg,dc=sso,dc=debian,dc=org"
# rootpw     "<%= @ftmg_dsa_root_password %>"

maxsize    134217728
checkpoint 131072 5

index cn,sn,uid pres,eq,approx,sub
index objectClass eq

access to *
        by dn="cn=admin,dc=ftmg,dc=sso,dc=debian,dc=org" write
        by * break

access to attrs=userPassword
        by self write
        by * break

access to *
        by anonymous auth
        by * break

# This is the initial database added with slapadd:
# =====================
# dn: dc=ftmg,dc=sso,dc=debian,dc=org
# objectClass: domain
# dc: ftmg
#
# dn: cn=root,dc=ftmg,dc=sso,dc=debian,dc=org
# objectClass: organizationalRole
# description: database root access role
#
# dn: cn=admin,dc=ftmg,dc=sso,dc=debian,dc=org
# objectClass: organizationalRole
# objectClass: simpleSecurityObject
# description: service admin
# userPassword: {crypt}*
#
# =====================
