##
## THIS FILE IS UNDER PUPPET CONTROL. DON'T EDIT IT HERE.
## USE: git clone git+ssh://$USER@puppet.debian.org/srv/puppet.debian.org/git/dsa-puppet.git
##

<VirtualHost <%= @vhost_listen %>>
	ServerAdmin debian-admin@debian.org
	ServerName local-mirror.cdbuilder.debian.org
	ServerAlias security.debian.org
	ServerAlias deb.debian.org
	AddCharset UTF-8 .txt

	ErrorLog /var/log/apache2/local-mirror.cdbuilder.debian.org-error.log
	CustomLog /var/log/apache2/local-mirror.cdbuilder.debian.org-access.log privacy

	Use ftp-archive /srv/mirrors/debian
	Alias /debian/ /srv/mirrors/debian/

	Use ftp-archive /srv/mirrors/debian-security
	Alias /debian-security/ /srv/mirrors/debian-security/

	<IfModule mod_userdir.c>
		UserDir disabled
	</IfModule>
</VirtualHost>

# vim:set syn=apache:
