##
## THIS FILE IS UNDER PUPPET CONTROL. DON'T EDIT IT HERE.
## USE: git clone git+ssh://$USER@puppet.debian.org/srv/puppet.debian.org/git/dsa-puppet.git
##

Use common-debian-service-https-redirect * lintian.debian.org

<Macro vhost-inner-lintian.debian.org>
	ServerAdmin debian-admin@lists.debian.org

	ErrorLog /var/log/apache2/lintian.debian.org-error.log
	CustomLog /var/log/apache2/lintian.debian.org-access.log privacy

	DocumentRoot /srv/lintian.debian.org/www
	<Directory /srv/lintian.debian.org/www/>
		AllowOverride None
		Require all granted
	</Directory>

	ProxyPass /static !
	ProxyPass / http://localhost:3000/
	ProxyPassReverse / http://localhost:3000/
</Macro>

<VirtualHost *:443>
	ServerName lintian.debian.org

	Use common-debian-service-ssl lintian.debian.org
	Use common-ssl-HSTS
	Use vhost-inner-lintian.debian.org
</VirtualHost>

<% if scope.function_onion_global_service_hostname(['lintian.debian.org']) -%>
<VirtualHost *:80>
	ServerName <%= scope.function_onion_global_service_hostname(['lintian.debian.org']) %>
	Use vhost-inner-lintian.debian.org
</VirtualHost>
<% end -%>
<% if scope.function_onionv3_global_service_hostname(['lintian.debian.org']) -%>
<VirtualHost *:80>
	ServerName <%= scope.function_onionv3_global_service_hostname(['lintian.debian.org']) %>
	Use vhost-inner-lintian.debian.org
</VirtualHost>
<% end -%>

# vim:set syn=apache:
