##
## THIS FILE IS UNDER PUPPET CONTROL. DON'T EDIT IT HERE.
## USE: git clone git+ssh://$USER@puppet.debian.org/srv/puppet.debian.org/git/dsa-puppet.git
##


<Macro vhost-inner-alioth-archive.debian.org>
	ServerAdmin debian-admin@lists.debian.org
	DocumentRoot /srv/alioth-archive.debian.org/htdocs

	ErrorLog /var/log/apache2/alioth-archive.debian.org-error.log
	CustomLog /var/log/apache2/alioth-archive.debian.org-access.log privacy

	<Directory /srv/alioth-archive.debian.org/htdocs>
		Require all granted
		AllowOverride none
		Options Indexes
	</Directory>

	RewriteEngine On

	ExpiresActive On
	ExpiresDefault "access plus 2 hours"
	ExpiresByType application/x-xz "access plus 1 week"
	ExpiresByType application/x-gzip "access plus 1 week"

	<IfModule mod_userdir.c>
		UserDir disabled
	</IfModule>
</Macro>

Use common-debian-service-https-redirect * alioth-archive.debian.org

<VirtualHost *:443>
	ServerName alioth-archive.debian.org
	Use common-debian-service-ssl alioth-archive.debian.org
	Use common-ssl-HSTS
	Use vhost-inner-alioth-archive.debian.org
</VirtualHost>

# vim:set syn=apache:
