<% if scope.function_has_static_component(['planet.debian.org']) -%>

<Macro common-planet.d.o>
	ServerAdmin planet@debian.org

	ErrorLog /var/log/apache2/planet.debian.org-error.log

	<IfModule mod_userdir.c>
		UserDir disabled
	</IfModule>

	DocumentRoot /srv/static.debian.org/mirrors/planet.debian.org/cur
	AddDefaultCharset utf-8
	<Directory /srv/static.debian.org/mirrors/planet.debian.org/cur>
		Require all granted
	</Directory>

	ExpiresActive On
	ExpiresDefault "access plus 10 minutes"
</Macro>

<Virtualhost <%= @vhost_listen %> >
	ServerName planet.debian.org
	ServerAlias planet-backend.debian.org planet-fastly.debian.org planet-maxcdn.debian.org
	<% if scope.function_onion_global_service_hostname(['planet.debian.org']) -%>
	ServerAlias <%= scope.function_onion_global_service_hostname(['planet.debian.org']) %>
	<% end %>
	<% if scope.function_onionv3_global_service_hostname(['planet.debian.org']) -%>
	ServerAlias <%= scope.function_onionv3_global_service_hostname(['planet.debian.org']) %>
	<% end %>

	CustomLog /var/log/apache2/planet.debian.org-access.log privacy
	Use common-planet.d.o
</VirtualHost>

<VirtualHost <%= @vhost_listen_443 %> >
	ServerName planet-backend.debian.org

	CustomLog /var/log/apache2/planet.debian.org-access.log privacyssl
	Use common-debian-service-ssl planet-backend.debian.org
	Use common-planet.d.o

</VirtualHost>

<% end -%>

# vim:set syn=apache:
